NODE_ENV=development

APP_HOST=localhost

IDENTITY_SERVICE_URL=http://localhost:8080
AUTH_INTERNAL_SECRET=
AUTH_JWT_PUBLIC_KEY_PATH=/absolute/path/to/identity-es256-public.pem
AUTH_JWT_ISSUER=identity-service
AUTH_JWT_AUDIENCE=others

IDENTITY_SERVICE_TCP_HOST=localhost
IDENTITY_SERVICE_TCP_PORT=23010
PRODUCT_SERVICE_TCP_HOST=localhost
PRODUCT_SERVICE_TCP_PORT=23011
NOTIFICATION_SERVICE_TCP_HOST=localhost
NOTIFICATION_SERVICE_TCP_PORT=23012

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_ENABLE_DEBUG=true

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=

APISIX_PORT=9080

KAFKA_HOST=localhost
KAFKA_PORT=19092
KAFKA_SESSION_TIMEOUT=6000
KAFKA_HEARTBEAT_INTERVAL=2000
KAFKA_REBALANCE_TIMEOUT=10000
KAFKA_MAX_WAIT_TIME=200
KAFKA_UI_PORT=9090
KAFKA_CONNECT_PORT=18083
KAFKAJS_NO_PARTITIONER_WARNING=1

AWS_REGION=us-east-1
AWS_ENDPOINT_URL=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
