NODE_ENV=local

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=

APISIX_PORT=9080
KAFKA_PORT=9192

JWT_ALGORITHM=HS256
JWT_ISSUER=my-ecm-identity-service
JWT_AUDIENCE=my-ecm-api
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN_SECONDS=900
JWT_REFRESH_TOKEN_EXPIRES_IN_SECONDS=2592000
